/* Styling for SearchBar */
*{
    font-family: "Cereal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 0px 10px gray;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .search-item {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    border-right: 1px solid #ccc;
  }
  
  .search-item:last-child {
    border-right: none;
  }
  
  .label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  
  .search-item input {
    border: none;
    outline: none;
    font-size: 16px;
    color: #777;
    margin-top: 4px;
  }
  
  .search-item input::placeholder {
    color: #aaa;
  }
  
  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-button button {
    background-color: #ff385c;
    border: none;
    border-radius: 50%;
    padding: 12px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
  }
  
  .search-button button i {
    font-size: 18px;
  }
  
  .search-button button:hover {
    background-color: #e31c5f;
  }
  